iframe {
  display: none;
}
body {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #eee;
}
.background-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.background-color {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}
section.container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
}
.nav-tabs {
  background-color: #555;
}
.nav-tabs li {
  opacity: .5;
}
.nav-tabs li.active {
  opacity: 1;
}
.nav-tabs a, .nav-tabs .active>a, .nav-tabs .active>a:hover, .nav-tabs .active>a:focus {
  background-color: #555!important;
  border: none!important;
}
.nav__main {
  margin-bottom: 20px;
}
.nav__main li:after {
  margin: 0 auto;
  border-top-width: 0px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-left-width: 8px;
  border-style: solid;
  border-color: transparent;
  display: block;
  width: 0;
  height: 0;
  content: "";
  z-index: 10;
}
.nav__main li.active:after {
  border-color: #070707 transparent;
}
.temp {
  margin-top: 20px;
}
.weather, .temp {
  margin: 50px auto;
}
.weather__caption, .temp__caption {
  font-size: 20px;
  opacity: .9;
}
.temp__numeric {
  font-size: 65px;
  line-height: 1.1;
}
.car_status {
  padding-bottom: 20px;
}
.car_status__caption {
  font-size: 50px;
  font-weight: normal;
  vertical-align: middle;
}
.car_status__icon {
  padding-right: 10px;
}
.car_status__caption .unit {
  font-size: 18px;
  vertical-align: text-top;
  ;
}
.car_status__caption .external__status, .internal__status {
  margin-bottom: 20px;
}
.well {
  margin-top: 20px;
  padding: 10px;
  border-radius: 0;
  background-color: #2a2929;
  border: none;
}
.log {
  width: 100%;
  height: 150px;
  margin: 0;
  text-align: left;
  overflow-y: scroll;
}
.col-right>div {
  background-color: #2a2929;
}
.growing {
  padding-top: 20px;
  padding-bottom: 3px;
}
.progress {
  height: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.monitoring {
  margin-bottom: 35px;
}
.monitoring h3, .map h3 {
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
}
.btn, .btn:hover {
  font-size: 18px;
  margin-bottom: 30px;
  background-color: black;
  border: 2px solid white;
}
.btn.harvest {
  background-color: #e4cc00;
  border: 2px solid #e4cc00;
  color: black;
}

.map-view {
  width: 455px;  
  height: 300px;
}
.animation-base{
    position: relative;
    height: 250px;
    display: block;
}
.animation-car{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
}
.animation-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}